.Player {
    width: 100%;
    border: 1px solid;
    text-align: center;
    font-weight: bold;     
};

span[class^="Player__"] {
    display: inline-block;
    color: red;
    border: 2px solid palevioletred;
}

.Player__name {
     width: 60%;
};

.Player__score {
    border-right: 1px solid;
};

.Player__button {
    border-radius: 5%;    
    background-color: lightgreen; 
};









